// header
.header {
  & > * {
    align-self: stretch;
    padding: 0.8rem 0;
    letter-spacing: 1px;
    border-bottom: $border-light;
  }
}

// Logo
.logo {
  height: 2.6rem;
  background-color: $color-light;
}

// Nav-bar
.nav {
  background-color: $color-light;
  font-family: $font-roboto;
  font-size: 0.875rem;

  &__list {
    list-style: none;
    color: $color-dark;

    display: flex;
    justify-content: space-around;

    &-item {
    }
  }

  &__link {
    font-weight: $fw-normal;
    color: $color-dark;
    text-decoration: none;
  }
}

// Weather
.weather {
  background-color: rebeccapurple;
  display: flex;
  // padding: 0;

  & > * {
    align-self: stretch;
  }

  &__icon {
    background-color: $color-primary;

    display: flex;
    flex-basis: 20%;

    img {
      height: 3rem;
    }
  }

  &__text {
    background-color: $color-dark;
    color: $color-light;

    display: flex;
    flex-direction: column;
    margin-left: auto;
    flex-basis: 80%;
  }

  &__info {
  }

  &__ratings {
  }
}

// Main
.main {
  &-ski {
  }

  &__title {
  }

  &__intro {
  }
}

// Button
.btn {
  &-primary {
  }

  &-outline {
  }
}
