// header
.header {
  @media only screen and (min-width: $media-labtop) {
    border-bottom: $border-light;
    justify-content: space-between;
  }

  & > * {
    align-self: stretch;
    letter-spacing: 1px;
    border-bottom: $border-light;

    @media only screen and (min-width: $media-labtop) {
      border-bottom: none;
    }
  }
}

// Logo
.logo {
  height: 2.6rem;
  padding: 0.8rem 0;
  background-color: $color-light;

  @media only screen and (min-width: $media-labtop) {
    margin-left: 6rem;
    align-self: center;
  }
}

// Nav-bar
.nav {
  background-color: $color-light;
  font-family: $font-roboto;
  font-size: 0.875rem;

  @media only screen and (min-width: $media-labtop) {
    flex: 1;
  }

  @media only screen and (min-width: $media-labtop-medium) {
    flex: 0 0 30%;
    margin-left: auto;
    align-self: center;
  }

  &__list {
    list-style: none;
    color: $color-dark;

    display: flex;
    justify-content: space-around;

    @media only screen and (min-width: $media-labtop) {
      flex: 1;
    }

    &-item {
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      padding: 1rem 1rem;
      flex: 1;
      transition: all 0.5s;

      @media only screen and (min-width: $media-labtop) {
        padding: 1rem 0.7rem;
        margin-right: 0.5rem;
      }
    }

    &-item:hover {
      border-radius: 30px;
      background-color: $color-grey-light-2;
    }

    &-item:active {
      background-color: $color-gray;
    }
  }

  &__link {
    font-weight: $fw-normal;
    color: $color-dark;
    text-decoration: none;
    transition: all 0.3s;

    @media only screen and (min-width: $media-labtop) {
      line-height: 2;
      font-weight: $fw-light;
    }

    &:active {
      color: $color-light;
    }
  }
}

// Weather
.weather {
  padding: 0;
  display: flex;
  text-align: center;

  @media only screen and (min-width: $media-labtop-medium) {
    flex: 0 0 23%;
  }

  & > * {
    padding: 0.1rem 0;
  }

  &__icon {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;

    img {
      width: 3.5rem;
      height: 3.5rem;

      @media only screen and (min-width: $media-labtop) {
        padding: 0.5rem;
      }

      @media only screen and (min-width: $media-labtop-medium) {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }

  &__text {
    background-color: $color-dark;
    color: $color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 75%;
  }

  &__info {
    display: flex;
    line-height: 2.3;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: $font-roboto;
    font-weight: $fw-dark;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 1rem;
    position: relative;

    @media only screen and (min-width: $media-tablet) {
      padding-left: 0;
      justify-content: center;
      font-weight: $fw-light;
    }
    @media only screen and (min-width: $media-labtop) {
      font-size: 0.5rem;
      padding-left: 0.5rem;
      line-height: 3;
    }

    @media only screen and (min-width: $media-labtop-medium) {
      line-height: 4;
      font-size: 0.6rem;
    }
  }

  &__info:first-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    border-top: $border-light;
    opacity: 0.2;
    width: calc(100% - 1rem);
  }

  &__ratings {
    margin-left: auto;
    padding-right: 1rem;
    text-transform: lowercase;
    color: $color-light;

    @media only screen and (min-width: $media-tablet) {
      margin-left: 2rem;
    }
    @media only screen and (min-width: $media-labtop) {
      margin-left: 0.7rem;
      padding-right: 0.5rem;
    }
  }
}

// Main
.main {
  padding: 3rem 1rem 10rem;

  @media only screen and (min-width: $media-labtop) {
    padding: 4rem 6rem 20rem;
  }

  @media only screen and (min-width: $media-labtop-medium) {
    padding: 5rem 18rem 50rem 6rem;
  }

  &-ski {
    background-image: url(../imges/background.jpg);
    background-size: cover;

    @media only screen and (min-width: $media-labtop-medium) {
      background-position: right center;
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: $fw-dark;
  }

  &__intro {
    line-height: 1.5625rem;
    margin-bottom: 2rem;

    @media only screen and (min-width: $media-labtop) {
      margin-bottom: 6rem;
    }
  }
}

// Button
.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $fw-normal;
  margin-bottom: 0.75rem;
  display: inline-block;

  @media only screen and (min-width: $media-labtop-medium) {
    margin-right: 1rem;
  }

  &-primary {
    color: $color-light;
    background-color: $color-primary;
    transition: all 0.3s;

    &:hover {
      background-color: $color-light;
      color: $color-primary;
    }
  }

  &-outline {
    color: $color-primary;
    background-color: $color-light;
    transition: all 0.3s;
    font-weight: $fw-dark;

    //outline insead of border
    outline: 3px solid $color-primary;
    outline-offset: -3px;

    &:hover {
      color: $color-light;
      background-color: $color-dark;

      // outline-color
      outline-color: $color-dark;
    }
  }
}
