*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #0c0e36;
  line-height: 1.6;
}

.header > * {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  letter-spacing: 1px;
  border-bottom: 1px solid #f4f2f2;
}

.logo {
  height: 2.6rem;
  padding: 0.8rem 0;
  background-color: #fff;
}

.nav {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.nav__list {
  list-style: none;
  color: #0c0e36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__list-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__list-item:hover {
  background-color: #f4f2f2;
}

.nav__list-item:active {
  background-color: #3a3a3a;
}

.nav__link {
  font-weight: 700;
  color: #0c0e36;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:active {
  color: #fff;
}

.weather {
  background-color: green;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.weather > * {
  padding: 0.1rem 0;
}

.weather__icon {
  background-color: #f70058;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.weather__icon img {
  width: 3.5rem;
  height: 3.5rem;
}

.weather__text {
  background-color: #0c0e36;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.weather__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.3;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 1rem;
  position: relative;
}

.weather__info:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  border-top: 1px solid #f4f2f2;
  opacity: 0.2;
  width: calc(100% - 1rem);
}

.weather__ratings {
  margin-left: auto;
  padding-right: 1rem;
  text-transform: lowercase;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */