*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #0c0e36;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

@media only screen and (min-width: 48.0625rem) {
  .header {
    border-bottom: 1px solid #f4f2f2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header > * {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  letter-spacing: 1px;
  border-bottom: 1px solid #f4f2f2;
}

@media only screen and (min-width: 48.0625rem) {
  .header > * {
    border-bottom: none;
  }
}

.logo {
  height: 2.6rem;
  padding: 0.8rem 0;
  background-color: #fff;
}

@media only screen and (min-width: 48.0625rem) {
  .logo {
    margin-left: 6rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

@media only screen and (min-width: 48.0625rem) {
  .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 64.0625rem) {
  .nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav__list {
  list-style: none;
  color: #0c0e36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 48.0625rem) {
  .nav__list {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.nav__list-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (min-width: 48.0625rem) {
  .nav__list-item {
    padding: 1rem 0.7rem;
    margin-right: 0.5rem;
  }
}

.nav__list-item:hover {
  border-radius: 30px;
  background-color: #f4f2f2;
}

.nav__list-item:active {
  background-color: #3a3a3a;
}

.nav__link {
  font-weight: 700;
  color: #0c0e36;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 48.0625rem) {
  .nav__link {
    line-height: 2;
    font-weight: 400;
  }
}

.nav__link:active {
  color: #fff;
}

.weather {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media only screen and (min-width: 64.0625rem) {
  .weather {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
  }
}

.weather > * {
  padding: 0.1rem 0;
}

.weather__icon {
  background-color: #f70058;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.weather__icon img {
  width: 3.5rem;
  height: 3.5rem;
}

@media only screen and (min-width: 48.0625rem) {
  .weather__icon img {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 64.0625rem) {
  .weather__icon img {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.weather__text {
  background-color: #0c0e36;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.weather__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.3;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 1rem;
  position: relative;
}

@media only screen and (min-width: 29.6875rem) {
  .weather__info {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
  }
}

@media only screen and (min-width: 48.0625rem) {
  .weather__info {
    font-size: 0.5rem;
    padding-left: 0.5rem;
    line-height: 3;
  }
}

@media only screen and (min-width: 64.0625rem) {
  .weather__info {
    line-height: 4;
    font-size: 0.6rem;
  }
}

.weather__info:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  border-top: 1px solid #f4f2f2;
  opacity: 0.2;
  width: calc(100% - 1rem);
}

.weather__ratings {
  margin-left: auto;
  padding-right: 1rem;
  text-transform: lowercase;
  color: #fff;
}

@media only screen and (min-width: 29.6875rem) {
  .weather__ratings {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 48.0625rem) {
  .weather__ratings {
    margin-left: 0.7rem;
    padding-right: 0.5rem;
  }
}

.main {
  padding: 3rem 1rem 10rem;
}

@media only screen and (min-width: 48.0625rem) {
  .main {
    padding: 4rem 6rem 20rem;
  }
}

@media only screen and (min-width: 64.0625rem) {
  .main {
    padding: 5rem 18rem 50rem 6rem;
  }
}

.main-ski {
  background-image: url(../imges/background.jpg);
  background-size: cover;
}

@media only screen and (min-width: 64.0625rem) {
  .main-ski {
    background-position: right center;
  }
}

.main__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 900;
}

.main__intro {
  line-height: 1.5625rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 48.0625rem) {
  .main__intro {
    margin-bottom: 6rem;
  }
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.75rem;
  display: inline-block;
}

@media only screen and (min-width: 64.0625rem) {
  .btn {
    margin-right: 1rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: #f70058;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #fff;
  color: #f70058;
}

.btn-outline {
  color: #f70058;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 900;
  outline: 3px solid #f70058;
  outline-offset: -3px;
}

.btn-outline:hover {
  color: #fff;
  background-color: #0c0e36;
  outline-color: #0c0e36;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 48.0625rem) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */